body{
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
background-color:rgb(245, 198, 8)

}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}


main {
    text-align: center;
max-width: 90%;
}

img {
    max-width: 90%;
}


